<ol class="breadcrumb">
  <li><a href="#/">Home</a></li>
  <li class="active">Factures</li>
  <li class="pull-right"><a href="" ng-click="new()">Créer une facture</a></li>
</ol>

<div class="input-group">
  <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
  <input type="text" class="form-control" placeholder="Rechercher une facture" ng-model="query">
</div>

<img src="images/loading.gif" ng-hide="invoices !== null">

<table class="table table-striped">
  <thead>
    <tr>
      <th><a href="" ng-click="parameters.predicate='num';parameters.reverse=!parameters.reverse">Num</a></th>
      <th><a href="" ng-click="parameters.predicate='object';parameters.reverse=!parameters.reverse">Objet</a></th>
      <th><a href="" ng-click="parameters.predicate='getClient.object.name';parameters.reverse=!parameters.reverse">Client</a></th>
      <th><a href="" ng-click="parameters.predicate='date';parameters.reverse=!parameters.reverse">Dates</a></th>
      <th><a href="" ng-click="parameters.predicate='getPrice';parameters.reverse=!parameters.reverse">Montant</a></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="invoice in invoices | filter:finder(['num', 'object', 'getClient.object.name', 'getStatus', 'getPrice'], query) | orderBy:sorter(parameters.predicate):parameters.reverse">
      <td ng-bind-html="invoice.object.getDecoratedStatus()"></td>
      <td ng-bind="invoice.object.object"></td>
      <td><a ng-href="#/clients/{{ invoice.object.client.id }}" ng-bind="invoice.object.getClient().object.name"></a></td>
      <td>
        <p ng-if="invoice.object.date"><span>Emission :</span> {{ invoice.object.date | date }}</p>
        <p ng-if="invoice.object.dueDate"><span>Dûe :</span> {{ invoice.object.dueDate | date }}</p>
      </td>
      <td>
        <p><span>HT : </span>{{ invoice.object.getPrice() | currency:'€' }}</p>
        <p><span>TTC :</span> {{ invoice.object.getATI() | currency:'€' }}</p>
        <p ng-if="invoice.object.getStatus() === 'open'"><span>Restant dû :</span> {{ invoice.object.getDue() | currency:'€' }}</p>
      </td>
      <td style="text-align:right;">
        <a ng-href="#/invoices/{{ invoice.id }}" class="btn btn-default">Ouvrir</a>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr class="total">
      <td colspan="6" style="text-align:right;padding-right:10%;">
        <p><span>HT : </span> {{ invoices | filter:finder(['num', 'object', 'getClient.object.name', 'getStatus', 'getPrice'], query) | total:'getPrice' | currency:'€' }}</p>
        <p><span>TTC :</span> {{ invoices | filter:finder(['num', 'object', 'getClient.object.name', 'getStatus', 'getPrice'], query) | total:'getATI' | currency:'€' }}</p>
        <p><span>Restant dû :</span> {{ invoices | filter:finder(['num', 'object', 'getClient.object.name', 'getStatus', 'getPrice'], query) | total:'getDue' | currency:'€' }}</p>
      </td>
    </tr>
  </tfoot>
</table>


