<div class="row">

  <div class="col-md-6">

    <div class="panel panel-default">
      <div class="panel-heading">Chiffres clés</div>
      <div class="panel-body">

      </div>
    </div>

  </div>

  <div class="col-md-6">

    <div class="panel panel-default">
      <div class="panel-heading">Top 10 clients</div>
      <div class="panel-body">
      </div>
    </div>

  </div>

</div>
<div class="row">

  <div class="col-md-12">

    <div class="panel panel-default">
      <div class="panel-heading">Évolution chiffre d'affaire</div>
      <div class="panel-body">
        <!-- <chartjs width="d1.width" height="d1.height" data="d1.data" options="d1.options" is-type="Doughnut"></chartjs> -->
      </div>
    </div>

  </div>

</div>